
@font-face {
    font-family: 'Gilroy_normal';
    src: url(/fonts/Gilroy/Gilroy-Medium.ttf);
}
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gilroy_normal';

}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    background: #0F1113;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    background: #0F1113;    

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

/* many smth */
.two_blocks_inside{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.button{
    width: 150px;
    height: 40px;
    background-color: #C1ABFF;
    border-radius: 6px;
    border: 0px  #C1ABFF;
}
.right_button{
    align-self: flex-end;
}
.sideblock_text{
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
}
.textleft{
    text-align: end;
}
.gif_subsckript_white{
    width: 380px; 
    color: var(--main-white, #FFF);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    display: block;
}
.span1{
    width: 100%;
    color: #C1ABFF;
    font-size: 30px;
    font-weight: 700;
}

.gif{
    width: 528px;
    height: 471px;
    display: flex;
}

/* team */
.lineq{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 77px;
}
.main_team{
    width: 100%;
    background-color: #0F1113;
    position: relative;
}
.text_team{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.team_container{
    width: 100%;
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
}
.team1{
    width: 280px;
    height: 215px;
    flex-shrink: 0;
    border: 1px solid #151D25;
    background: linear-gradient(180deg, #151D25 0%, #0F1113 100%);
    position: relative;
    margin-top: 30px;
}
.imya_team1{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 77px;
    left: 73px;
}
.btm_text_team1{
    color: #4F6173;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
font-weight: 500;

.line{
    width: 279px;
    height: 1px;
    background: #151D25;
    position: absolute;
    top: 148px;
}

#team11{
    position: absolute;
    left: 80px;
    top: -60px;
    text-align: center;
    display: block;
}
.team_conn{
    display: flex;
    gap: 17px;
    margin-top: 171px;
    margin-left: 67px;
}
/* partners */
.lin{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    border-radius: 5px;
}
.main_partners{
    width: 100%;
    height: 479px;
    background-color: #0F1113;
    position: relative;
}
.text_partners{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.box_partnerov1{
    width: 173px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #151D25;
    background: linear-gradient(180deg, #151D25 0%, #0F1113 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner_all_boxes{
    display: flex;
    margin: auto;
    width: 945px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 52px;
}
/* quests */
.main{
    width: 100%;
    height: 1896px;
    background-color:#0F1113;
    margin-top: 181px;
}
.text{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 700;
}
.sectext{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 177px;
}
.list_box1{
    width: 1207px;
    height: 82px;
    background-color: #0F1113;
    margin: auto;
    color: #FFF;
    line-height: 140%;
    position: relative;
}
#fix{
    background: linear-gradient(270deg, #1A242E 0%, #1A232D 2.38%, #19232C 5.58%, #19222B 9.56%, #19222A 12.41%, #182129 16.64%, #182028 20.96%, #171F27 24.25%, #171E26 28.66%, #161D24 35.92%, #161C23 39.11%, #151C22 43.18%, #151B21 46.81%, #141A20 52.77%, #13191E 59.86%, #13171C 67.12%, #12171B 70.49%, #12161A 75.24%, #111418 82.41%, #101316 88.46%, #101315 91.92%, #0F1113 100%);
}
.probu{
    position: absolute;
    top: 29px;
    right: 20px;
}
.sec_text_q{
    position: absolute;
    top: 31px;
    left: 20px;
}
.textt1{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    position: absolute;
    top: 31px;
    left: 20px;
}
/*contact*/
.main_contact{
    width: 100%;
    height: 615px;
    margin: auto;
}
.name_c{
    width: 1207px;
    margin: auto;
    color: #FFF;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 46px;
    margin-right: 1444px;
}
.box1_c{
    width: 1207px;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
    
}
.email_c{
    width: 1207px;
    margin: auto;
    color: #FFF;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;
    
}
.message_c{
    width: 1207px;
    margin: auto;
    color: #FFF;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;
}
.box3_c{
    width: 1207px;
    margin: auto;
    height: 179px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
}
.button_send_c{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: var(--2-g, linear-gradient(120deg, #BDB2FF 0%, #CE8FFF 100%));
    margin: auto;
    margin-top: 30px;
    position: relative;
}
.send_c{
    color: #0F1113;
    text-align: center;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 22px;
    left: 106px;
}
.linea{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    margin-top: 69px;
    border-radius: 5px;
}
/*bottom*/
.bottom_main{
    width: 100%;
    height: 338.76px;
    background: #101417;
    position: relative;
    display: flex;
}
.niz_main{
    width: 1200px;
    height: 100%;   
    margin: auto;
    display: flex;
    gap: 155px;
    align-items: center;
    margin-top: 113px;
}
.left{
    width: 388px;
    height: 220px;
    height: 66.345px;
    flex-shrink: 0;
    color: var(--main-white, #FFF);
    position: absolute;
    left: 678px;
    top: 143px;

}
.bottom_logobox{
    display: flex;
    gap: 11px;
}

.textlogo_bottom{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-decoration-line: underline;
}
.tekst1{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tekst2{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 25px;
}
.center{
    width: 93px;
    height: 152px;
    margin-left: 68px;
}
.right{
    width: 100px;
    height: 108px;
}
.displayimg_bottom{
    display: flex;
    gap: 30px;
    margin-top: 48px;
}
.textniz{
    color: #fff;
    font-weight: 500;
    margin-top: 50px;
  }
.tekst1{
    color: var(--main-white, #FFF);
    position: absolute;
    left: 1331px;
    top: 79px;

}
#rizno{
    background: var(--gradient-1, linear-gradient(144deg, #FC84FF 0%, #54D1FA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:any-link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
/* quests + contact */

@media screen and (max-width: 1440px) {
    .list_box1{
        width: 90%;
    }
}
@media screen and (max-width: 1440px) {
    .box1_c{
        width: 90%;
    }
}
@media screen and (max-width: 1440px) {
    .box3_c{
        width: 90%;
    }
}
    



/* newpage */
body{
    margin: 0;
}
.mainpage{
    width: 100%;
    height:4544px ;
    background-color:#0F1113;
}
.header{
    position: relative;

    width: 82%;
    height: 60px;
    background-color: #0F1113;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    align-items: center;
}
.leftcont{
    display: flex;
    color: #FFF;
    gap: 40px;
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crug{
text-align: center;
margin-top: 110px;
}
.textnearcrug{

    text-align: center;
    font-size: 64px;
    font-weight: 700;
    background: linear-gradient(144deg, #54D6FF 38%, #C275FF 54.69%, #F36AFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.specialbloc{
    width: 740px;

}
.text{
    color: var(--main-white, #FFF);
font-size: 24px;
line-height: 140%;
margin-top: 30px;
}
.ft{
   
font-size: 24px;
line-height: 140%;
}
.boxfortext{
 
   
    margin: auto;
    text-align: center;
    

}
.buttonandertext{
    margin: auto;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(144deg, #54D6FF 38%, #C275FF 54.69%, #F36AFF 100%);
    
}
.blackpart{
    width: 290px;
    height: 50px;
    background-color: #0F1113;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.litepaper{
    background: var(--Gradient-1, linear-gradient(104deg, #FC84FF 13.23%, #54D1FA 91.95%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 20px;
font-weight: 600;

}
.textlogo{

    color: var(--main-white, #FFF);
font-size: 24px;
font-weight: 600;
line-height: normal;

}
.leftpartheader{
    position: relative;
    color: #FFF;
line-height: normal;
list-style: none;
text-align: center;
display: flex;
gap: 40px;
left: 60px;
}
.tok{
    color: #B2A6FD;

font-weight: 600;
line-height: normal;
}
.brt{
    position: absolute;
    top: 19px;
    right: 458px;
}
.rightpartheader{
    position: relative;
    color: #FFF;
    text-align: center;
    display: flex;
    gap: 40px;
font-weight: 600;
line-height: normal;
right:188px ;
list-style: none;
left: 1100px;
top: 5px;
}
.boxtr{
  
 
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    margin-top: 200px;
    text-align: bottom;
    
  


}
.uio{
    color: #FFF;
    line-height: 140%; /* 22.4px */
  
}

.boxik{
    
    width: 368px;
    height: 253px;
    flex-shrink: 0;
border: 1px solid #ee78b9;
}
.textl{
    color: #FFF;
line-height: 140%; /* 22.4px */
}
.boxsecond{
    width: 368px;
    height: 253px;
    flex-shrink: 0;
    border: 1px solid #a9f9ff;
   
}
.iop{
    color: #FFF;
line-height: 140%; /* 22.4px */
}
.yui{
    width: 368px;
height: 253px;
flex-shrink: 0;
    border: 1px solid #a9c4ff;
   
}
.newbutton{
    border-radius: 10px;
border: 3px solid linear-gradient(104deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
box-shadow: 0px 2px 12px 0px rgba(148, 180, 252, 0.37);
width: 300px;
height: 60px;
background: linear-gradient(104deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
}
.ert{
    color: #FFF;font-style: normal;
line-height: 140%; /* 22.4px */
}
.textyum{
    color: #C1ABFF;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */
margin-top: 187px;
margin-left: -880px;
}
.texttr{
    color: #C1ABFF;
text-align: center;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */
margin-top: -45px ;
margin-right: 50px;
}
.promo{
    margin-top: 40px;
    
    text-align: center;
}
@media screen and (max-width: 1920px){
    .promo{
        display: flex;
        justify-content: center;
        gap: 90px;

    }
    .promo_text_secPage{
        margin-top: 280px;

    }
    .crug{
        margin-top: 180px;
    }
    .botton_button_kostil{
        display: none !important;
    }
    .top_button_kostil{
        display: block;
    }
}
@media screen and (max-width: 1440px) {
    .text{
        width: 450px;
    }
    .promo_text_secPage{
        width: 450px;
    }

}
@media screen and (min-width: 1920px){
    .top_button_kostil{
        display: none !important;
    }
}

