@font-face {
    font-family: 'Gilroy_normal';
    src: url(/fonts/Gilroy/Gilroy-Medium.ttf);
}
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gilroy_normal';
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    background: #0F1113;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* team */
.lineq{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 77px;
}
.main_team{
    width: 100%;
    background-color: #0F1113;
    position: relative;
}
.text_team{
    color: #FFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team_container{
    width: 100%;
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
}
.team1{
    width: 280px;
    height: 215px;
    flex-shrink: 0;
    border: 1px solid #151D25;
    background: linear-gradient(180deg, #151D25 0%, #0F1113 100%);
    position: relative;
    margin-top: 30px;
}
.imya_team1{
    color: #FFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 77px;
    left: 73px;
}
.btm_text_team1{
    color: #4F6173;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 109px;
    left: 60px;
}
#team11{
    position: absolute;
    left: 80px;
    top: -60px;
    text-align: center;
    display: block;
}
.team_conn{
    display: flex;
    gap: 17px;
    margin-top: 171px;
    margin-left: 67px;
}
/* partners */
.lin{
        width: 1205px;
        height: 2px;
        background-color: #151D25;
        margin: auto;
        border-radius: 5px;
}
.main_partners{
    width: 100%;
    height: 479px;
    background-color: #0F1113;
    position: relative;
}
.text_partners{
    color: #FFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box_partnerov1{
    width: 173px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #151D25;
    background: linear-gradient(180deg, #151D25 0%, #0F1113 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner_all_boxes{
    display: flex;
    margin: auto;
    width: 945px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 52px;
}
/* quests */
.main_quests{
    width: 100%;
    height: 1896px;
    background-color:#0F1113;
    margin-top: 181px;
}
.text_q{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sectext{
    color: #FFF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 177px;
}
.list_box1{
    width: 90%;
    height: 82px;
    background-color: #0F1113;
    margin: auto;
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    position: relative;
}
#fix{
    background: linear-gradient(270deg, #1A242E 0%, #1A232D 2.38%, #19232C 5.58%, #19222B 9.56%, #19222A 12.41%, #182129 16.64%, #182028 20.96%, #171F27 24.25%, #171E26 28.66%, #161D24 35.92%, #161C23 39.11%, #151C22 43.18%, #151B21 46.81%, #141A20 52.77%, #13191E 59.86%, #13171C 67.12%, #12171B 70.49%, #12161A 75.24%, #111418 82.41%, #101316 88.46%, #101315 91.92%, #0F1113 100%);
}
.probu{
    position: absolute;
    top: 29px;
    right: 20px;
}
.sec_text_q{
    position: absolute;
    top: 31px;
    left: 20px;
}
/*contact*/
.main_contact{
width: 100%;
    height: 615px;
    margin: auto;
}
.name_c{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 46px;
    margin-right: 1444px;
}
.box1_contact{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
    
}
.email_c{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;
}
.message_c{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    margin-top: 27px;
    margin-right: 1444px;
    margin-bottom: 15px;
}
.box3_contact{
    width: 90%;
    margin: auto;
    height: 179px;
    border-radius: 5px;
    border: 1px solid #151D25;
    background: linear-gradient(90deg, #151D25 0%, #131618 100%);
}
.button_send_c{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: var(--2-g, linear-gradient(120deg, #BDB2FF 0%, #CE8FFF 100%));
    margin: auto;
    margin-top: 30px;
    position: relative;
}
.send_c{
    color: #0F1113;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 22px;
    left: 106px;
}
.linea{
    width: 1205px;
    height: 2px;
    background-color: #151D25;
    margin: auto;
    margin-top: 69px;
    border-radius: 5px;
}
/*bottom*/
.bottom_main{
    width: 100%;
    height: 338.76px;
    background-color: #101417;
    position: relative;
    display: flex;

}
.niz_main{
    width: 1200px;
    height: 100%;
    background-color: lightblue;
    margin: auto;
    display: flex;
    gap: 155px;
    align-items: center;
}
.left{
    width: 388px;
    height: 220px;
}
.bottom_logobox{
    display: flex;
    gap: 11px;
}
.textlogo_bottom{
    color: #fff;
font-size: 24px;
font-weight: 600;
text-decoration-line: underline;
}

.center{
    width: 93px;
    height: 152px;
    background-color: blueviolet;
    margin-left: 68px;
}
.right{
    width: 100px;
    height: 108px;
    background-color: lightseagreen;
}
.img_bottom{
    position: absolute;
    left: 678px;
    top: 62px;
}
.img_bottom2{
    position: absolute;
    left: 721px;
    top: 62px;
}
.textniz{

    color: #fff;
    font-weight: 500;
    margin-top: 50px;
}
.displayimg_bottom{
    display: flex;
    gap: 30px;
    margin-top: 48px;
}
.text_bottom1{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1331px;
    top: 79px;
}
.text_bottom2{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1331px;
    top: 123px;
}
.text_bottom3{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1331px;
    top: 167px;
}
.text_bottom4{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1331px;
    top: 211px;
}
.text_bottom5{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1537px;
    top: 79px;
}
.text_bottom6{
    color: var(--main-white, #FFF);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1537px;
    top: 123px;
}
.text_bottom7{
    color: var(--main-white, #FFF);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 1537px;
    top: 167px;
}
#text7_bottom{
    background: var(--gradient-1, linear-gradient(144deg, #FC84FF 0%, #54D1FA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:any-link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
/* quests + contact */